@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&family=Nunito:wght@300&display=swap');


.button_line button {
    border: solid 1.5px;
    background-color: transparent;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: gray;
    border-radius: 50%;
}

.input_invisible {
    border: none;
    width: 20px;
    font-weight: 500;
    font-size: 20px;
    color: grey;
    text-align: center;
    background-color: transparent;
}

.button_line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.button_line span  {
    font-weight: 500;
    font-size: 20px;
    color: grey;
}